<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create post</title>
</head>
<body>
    <!-- method = POST means we have to send the post request  -->
     <!-- Action = /posts means hum '/posts'  ko post request bhejna chahte hai-->
    <form method="post" action="/posts">
        <input placeholder="Enter the title" name="username"><br><br>
        <textarea placeholder="Enter the content" name="content"></textarea><br>
        <button>Submit</button>
    </form>
</body>
</html>